/*@font-face {
   font-family: sansation;
   src: url(sansation_light.woff);
}*/

/*.jumbotron{
	text-align: center;
}*/

#main-content {
	background-color: transparent;
	background-repeat: no-repeat;
	height: 350px;
}

#brand {
	background-color: transparent;
}

#header{
	background-color: limegreen;
	text-align: center;
	border-color: limegreen;
	border-style: solid;
	border-width: 2px;
	padding-left: 32%
}

#button {
	margin-left: 35%;
	width: 300px;
	height: 200px;
	font-size: 150px;
}

footer {
	width: 100%;
	color: limegreen;
	background-color: black;
	padding-top: 15px;
	height: 55px;
	border-top-color: limegreen;
	border-top-width: 5px;
	text-align: center;
	border-top-style: solid;
	bottom: 0px;
	position: relative;
	font-family: 'Righteous', cursive;
}