/*@font-face {
   font-family: sansation;
   src: url(sansation_light.woff);
}*/

/*.jumbotron{
	text-align: center;
}*/

#main {
	background-color: #a3a2a0;
	background-repeat: no-repeat;
	height: 500px;
}

#brand {
	background-color: #36465d;
}

#header{
	background-color: #36465d;
	text-align: center;
	border-color: #36465d;
	border-style: solid;
	border-width: 2px;
	padding-left: 32%
}

footer {
	width: 100%;
	color: limegreen;
	background-color: black;
	padding-top: 15px;
	height: 55px;
	border-top-color: limegreen;
	border-top-width: 5px;
	text-align: center;
	border-top-style: solid;
	bottom: 0px;
	position: relative;
	font-family: 'Righteous', cursive;
}